*{
  box-sizing: border-box;
  margin: 0;
}

header {
  padding: 30px 0 30px 0;
  background: rgb(44, 39, 66);
  color: #fff;
  text-align: center;
}

header h1{
  display: inline;
  margin-left: 15px;
  font-weight: 400;
}

.search-area{
  text-align: center;
}
